In [2]:
#Social_Network_Ads.csv

**Importing the libraries**

In [3]:
import pandas as pd
import numpy as np

**Importing the dataset**

In [4]:
df=pd.read_csv("Social_Network_Ads.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [6]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [7]:
#UserId is not useful for model training, so dropping it
df=df.iloc[:,1:]
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [8]:
df.isnull().sum()

Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [9]:
df.Purchased.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [10]:
#Encoding The DATA
#Gender Feature needs to be converted into numeric format
df['Gender']=df['Gender'].map({'Male':1,'Female':0})
df['Gender']

0      1
1      1
2      0
3      0
4      1
      ..
395    0
396    1
397    0
398    1
399    0
Name: Gender, Length: 400, dtype: int64

In [24]:
X=df.iloc[:,:-1]
y=df['Purchased']
X

     Gender  Age  EstimatedSalary
0         1   19            19000
1         1   35            20000
2         0   26            43000
3         0   27            57000
4         1   19            76000
..      ...  ...              ...
395       0   46            41000
396       1   51            23000
397       0   50            20000
398       1   36            33000
399       0   49            36000

[400 rows x 3 columns]

**Splitting the dataset into the Training set and Test set**

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

**Feature Scaling**

In [13]:
#Scaling Not mandatory in DT

**Fitting Random Forest to the Training set**

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
# Instantiate model 
rf = RandomForestClassifier(n_estimators= 100, max_depth = 3, max_features='sqrt')

# Train the model on training data
rf.fit(X_train, y_train);

# Use the forest's predict method on the test data
y_pred = rf.predict(X_test)

**Predicting the Test set results**

In [22]:
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score
rf.score(X_test,y_test)
print(accuracy_score(y_test,y_pred))
print(roc_auc_score(y_test,y_pred))

0.9125
0.9162087912087912

**Making the Confusion Matrix**

In [23]:
confusion_matrix(y_test,y_pred)

array([[47,  5],
       [ 2, 26]])

**Visualising the Training set results**

**Visualising the Test set results**

In [25]:
# Get numerical feature importances
importances = list(rf.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(X, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: Age                  Importance: 0.55
Variable: EstimatedSalary      Importance: 0.45
Variable: Gender               Importance: 0.01

In [26]:
print(rf.feature_importances_)

[0.00783202 0.54688755 0.44528043]

In [27]:
print(X.columns)

Index(['Gender', 'Age', 'EstimatedSalary'], dtype='object')

In [30]:
dict={}
j=0
for i in X.columns:
  dict[i]=rf.feature_importances_[j]
  j=j+1
dict

{'Gender': 0.007832016859128486,
 'Age': 0.5468875504507518,
 'EstimatedSalary': 0.4452804326901197}